<html>
<title>hello world</title>
<body>
<br>

    {{post.title}}<br>
    {{post.content}}<br>
    {{post.author}}<br>
    {{post.date_created}}<br>
    {{post.date_updated}}<br>
    <br><br>
    <form method="POST" action="/comment/">
    {% csrf_token %}
    <input type="text" name="content">
    <input type="hidden" name="post" value="{{post.id}}">
    <button type='submit'>comment below</button>
    </form>
    <br>
{% for comment in comments %}
    {{comment.content}}<br>
    {{comment.author}}<br>
    {{comment.date_created}}comment
    <br><br>
    <form method="POST" action="/reply/">
    {% csrf_token %}
    <input type="text" name="content">
    <input type="hidden" name="comment" value="{{comment.id}}">
    <input type="hidden" name="post" value="{{post.id}}">
    <button type='submit'>reply</button>
    </form>
    <br>
{% endfor %}
</body>
</html>